body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

/* HEADER */
header {
    padding: 60px 20px;
    background: linear-gradient(to right, #2563eb, #38bdf8);
}

header h1 {
    font-size: 40px;
}

header button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

header button:hover {
    background: #facc15;
}

/* SECTIONS */
section {
    padding: 50px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px black;
}

/* FORMULAIRE */
form {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 250px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    color: #38bdf8;
}

/* FOOTER */
footer {
    background: black;
    padding: 15px;
}
.whatsapp-btn {
  display: block;
  width: 220px;
  margin: 15px auto;
  padding: 12px;
  background-color: #25D366;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.whatsapp-btn:hover {
  background-color: #1ebe5d;
}
